*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.logo-pic{
  position:relative;
  margin-top:10vh;
  height: 80vh;
  background-image: url(../img/angora-440165_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .logo{
    position: absolute;
    left:10%;
    top:15%;
    background-size:contain;
    background-position: center;
    background-repeat:no-repeat;
    width: 50%;
    height: 70%;
    background-image: url(../img/unknown.png);
  }
} 
@media screen and (max-width:1200px){
  .logo-pic{
    height: 60vh;
  }
};
@media screen and (max-width:992px){
  .logo-pic{
    margin-top: 0;
    height: 70vh;
  
    .logo{
      left:50%;
      top:50%;
      transform:translate(-50%,-50%);
      background-size: contain;
    }
  }  
}
@media screen and (max-width:992px) and (orientation:landscape){
  .logo-pic{
    height: 50vw;
  }
}