.baner-item{
  margin-top: 40%;
  height: 90vh;
  position: relative;
}
.baner-item img{
  position: absolute;
  left:50%;
  top:0;
  transform:translate(-50%,0);
}
.baner-item img:nth-child(2){
  animation: slider 5s linear infinite;
}

@keyframes slider{
  0%{
      opacity:0;
  }
  50%{
    opacity:0;
  }    
  55%{
      opacity:1;
  }
  95%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@media screen and (max-width:1200px){
  
  .baner-item{
    height: 45vh;
  }
}
@media screen and (max-width:1200px) and (orientation:landscape){
  
  .baner-item{
    height: 60vw;
  }
}
@media screen and (max-width:992px){
  .baner-item{
    margin-top: 50%;
    height: 60vh;
  }
}
@media screen and (max-width:992px) and (orientation:landscape){
  .baner-item{
    margin-top: 45%;
    height: 60vw;
  }
}
@media screen and (max-width:767px) {
  .baner-item{
    margin-top: 15% ;
    height: 40vh;
  }
  .baner-item img{
    width:80%;
  }
}
@media screen and (max-width:767px) and (orientation:landscape){
  
  .baner-item{
    margin-top: 10%;
    height: 55vw;
  }
  .baner-item img{
    width: 75%;
  }
}
@media screen and (max-width:360px){
  
  .baner-item{
    height: 45vh;
  }
}