.baner-item{
  height: 80vh;
  position: relative;
  img{
    position: absolute;
    left:50%;
    top:0;
    transform:translate(-50%,0);
  }
  img:nth-child(2){
    animation: slider 5s linear infinite;
  }
}

@keyframes slider{
  0%{
      opacity:0;
  }
  50%{
    opacity:0;
  }    
  55%{
      opacity:1;
  }
  95%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}
@media screen and (max-width:1366px) and (orientation:landscape){
  
  .baner-item{
    height: 40vw;
  }
}
@media screen and (max-width:1200px){
  
  .baner-item{
    height: 40vh;
  }
}
@media screen and (max-width:1200px) and (orientation:landscape){
  
  .baner-item{
    height: 60vw;
  }
}
@media screen and (max-width:992px){
  .baner-item{
    margin-top: 15%;
    height: 60vh;
  }
}
@media screen and (max-width:992px) and (orientation:landscape){
  .baner-item{
    margin-top: 15%;
    height: 60vw;
  }
}
@media screen and (max-width:767px) {
  .baner-item{
    margin-top: 20% ;
    height: 40vh;
    img{
      width:85%;
    }
  }
}
@media screen and (max-width:767px) and (orientation:landscape){
  
  .baner-item{
    margin-top: 10%;
    height: 65vw;
  }
}
@media screen and (max-width:360px){
  
  .baner-item{
    height: 45vh;
  }
}