.contact {
  margin-top:10%;
  background-color: #40464d;
  padding: 40px;
  height: 80vh;
  h2 {
    font-size: 2em;
    font-family: "Raleway",sans-serif;
    text-transform: uppercase;
    padding-bottom:40px;
    color: #fff;
    text-align: center;
  }
  .contact-wrap {
    font-family: 'Merriweather', serif;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    height: 100%;
    form{
      height: 80%;
      .contact-element, .contact-btn, .contact-text{
        width: 80%;
        margin-bottom: 5%;
        font-family: 'Merriweather', serif;
        font-size: 1.2em;
        cursor: pointer;
      }
      .contact-element{
        height: 10%;
      }
      .contact-text {
        height: 30%;
      }
      .contact-btn {
        line-height: 1.5em;
        font-size: 1.2em;
        font-weight: bold;
        background-color:  #a67c52;
        color: white;
        border: 2px solid white;
        transition:all .3s;
      }
      .contact button:hover {
        color: #000;
        background-color: #fff;
      }
    }
  }
}

.contact-details{
  flex-basis:50%;
  .social{
    padding: 20px 0;
    color: #fff;
    a{
      text-decoration: none;
      color:#fff;
      line-height: 4em;
      padding-left: 15px;
      font-size: 1.2em;
    }
    .fas{
      font-size:1.5em;  
    }
  }
}

@media screen and (max-width:1366px) and (orientation:landscape){
  .contact{
    height: 40vw;
  }
}

@media screen and (max-width:1200px){
  .contact{
    height: 35vh;
  }
}
@media screen and (max-width:1200px) and (orientation:landscape){
  .contact{
    height: 45vw;
  }
}
@media screen and (max-width:992px){
  .contact{
    height: 45vh;
    .contact-element, .contact-btn, .contact-text{
      font-size: 1em;
    }
  }
  
}
@media screen and (max-width:992px) and (orientation:landscape){
  .contact{
    margin-top: 15%;
    height: 50vw;
  }
}
@media screen and (max-width:767px) {
  .contact {
    height: 70vh;
    h2 {
      font-size: 1.5em;
      padding-bottom:30px;
    }
    .contact-wrap {
      flex-direction: column;
      .form-wrap{
        flex-basis: 60%;
        form{
          height: 100%;
          .contact-element{
            height: 15%;
          }
          .contact-text {
            height: 30%;
          }
        }
      }
      .contact-details{
        flex-basis:30%;
        margin-bottom: 10%;
        .social {
          padding: 0;
          .fas{
            font-size:1.2em;  
          }
        }
      }
    }
  }
} 
    
@media screen and (max-width:767px) and (orientation:landscape){
  .contact{
    height: 85vw;
    .contact-details{
      margin-top:5%;
    }
  }
}
@media screen and (max-width:360px){
  .contact{
    height: 70vh;
  }
}