.projects-container{
  margin:15% auto 10%;
  h2{
    font-family:"Raleway",sans-serif;
    font-size:2em;
    text-align: center;
    text-transform: uppercase;
  }
  .projects-box{
    display:flex;
    flex-direction: column;
    .project{
      display:flex;
      flex-wrap: wrap;
      padding:40px;
      border-bottom: 1px solid #40464d;
      .img{
        flex-basis: 50%;
        overflow: hidden;
        cursor: zoom-in;
        img{
          width: 100%;
          transition: .4s;
        }
        img:hover{
          transform: scale(1.2);
          opacity:.8;
        }
      }
      .text{
        align-self: center;
        flex-basis: 40%;
        padding-left:30px;
        flex-grow: 1;
        h3{
          line-height: 3em;
          padding-bottom: 15px;
          font-family:"Raleway",sans-serif;
        }
        p{
          font-family:'Merriweather', serif;;
          line-height: 1.5em;  
        }
      }
      .details{
        font-family:'Merriweather', serif;;
        padding-top: 20px;
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        .order-now {
          max-height: 60%;
          padding:0 20px;
          background-color: transparent;
          box-shadow: 5px 5px 15px 5px #40464d;
          cursor:pointer;
          transition: .2s;
          a{
            text-decoration: none;
            color: #40464d;
          }
        }
        .order-now:hover{
          background-color:rgb(170, 219, 221);
        }
        
      }
    }
  }
}
@media screen and (max-width:992px){
  .project .text h3{
    line-height: 1.5em;
  }
  .project .text p{
    line-height: 1.2 em;
    font-size: 1em;
  }
}
@media screen and (max-width:992px) and (orientation:landscape){
  .order-now{
    margin-top: 2%;
  }
}
@media screen and (max-width:767px) {
  .projects-container h2{
    font-size:1.5em;
  }
  .project{
    flex-direction: column;
    padding:30px;
    .text{
      align-self: center;
      flex-basis: 50%;
      padding-top:20px;
      padding-left:0px;
      flex-grow: 0;
      h3{
        text-align: center;
      }
    }
    .details{
      padding-top: 10px;
      flex-grow: 1;
      flex-direction:column;
      ul{
        list-style: none;
      }
      .order-now {
        min-height: 50%;
        padding:20px 25px;
        width: 40%;
        margin:5% auto 0;
      }
    }
  }
} 
@media screen and (max-width:767px) and (orientation:landscape){
  .projects-box{
    margin-top: 3%;
  }
  .order-now{
    width: 25%;
    padding-bottom: 30px;
  }  
}
@media screen and (max-width:360px){
  .order-now{
    width: 50%;
    height: 40%;
    padding:10px;
  }
}
