*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.hamburger, .close{
  position:fixed;
  display:none;
  cursor:pointer;
}
.menu{
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  height: 10vh;
  width: 100%;
  
  
}
.menu-list{
  background-color:rgb(170, 219, 221);
  display:flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  padding:0 25px;
   
  }
.menu-list>li{
  
  color:#40464d;
  padding:0 25px;
  text-transform: uppercase;
  font-family: "Raleway",sans-serif;
  font-size: 1.3em;
  transition:.2s;
  }
.menu-list li:nth-child(2){
  flex-grow: 1;
}

.menu-list a{
    
    cursor:pointer;
    width:100%;
    color:#40464d;
    text-decoration: none;
  }
.menu-list a:hover{
    
    color: #a67c52;
  }
.logo-pic{
  position:relative;
  margin-top:10vh;
  height: 80vh;
  background-image: url(img/angora-440165_1280.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.logo{
  position: absolute;
  left:10%;
  top:15%;
  background-size:contain;
  background-position: center;
  background-repeat:no-repeat;
  width: 50%;
  height: 70%;
  background-image: url(img/unknown.png);
}

.about{
  height: 35vh;
  margin-top:5%;
}
.about h1{
  font-size: 2em;
  font-family: "Raleway",sans-serif;
  text-align: center;
  text-transform: uppercase;
  }
.about-content{

  margin: 3% ;
}
.about-content p{
  font-family:'Merriweather', serif;
  text-align:center;
  line-height: 1.5em;
  font-size:1em;
}
.tech{
  margin:3% auto 0;
  display:block;
}

.projects-container{
  margin:15% auto 10%;
}
.projects-container h2{
  font-family:"Raleway",sans-serif;
  font-size:2em;
  text-align: center;
  text-transform: uppercase;
   }
.projects-box{
  display:flex;
  flex-direction: column;
  
}
.project{
  display:flex;
  flex-wrap: wrap;
  padding:40px;
  border-bottom: 1px solid #40464d;
}

.project .img{
  flex-basis: 50%;
  overflow: hidden;
  cursor: zoom-in;
}
.project img{
  width: 100%;
  transition: .4s;
  
}
.project img:hover{
  transform: scale(1.2);
  opacity:.8;
}
.project .text{
  align-self: center;
  flex-basis: 40%;
  padding-left:30px;
  flex-grow: 1;
}
.project .text h3{
  line-height: 3em;
  padding-bottom: 15px;
  font-family:"Raleway",sans-serif;
}
.project .details{
  font-family:'Merriweather', serif;;
  padding-top: 20px;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.project .text p{
font-family:'Merriweather', serif;;
line-height: 1.5em;  
}
.order-now {
  max-height: 60%;
  padding:0 20px;
  background-color: transparent;
  box-shadow: 5px 5px 15px 5px #40464d;
  cursor:pointer;
  transition: .2s;
}
.order-now a{
  text-decoration: none;
  color: #40464d;
}
.order-now:hover{
  background-color:rgb(170, 219, 221);
}
.baner-item{
  height: 80vh;
  position: relative;
}
.baner-item img{
  position: absolute;
  left:50%;
  top:0;
  transform:translate(-50%,0);
}
.baner-item img:nth-child(2){
  animation: slider 5s linear infinite;
}

@keyframes slider{
  0%{
    opacity:0;
  }
  50%{
    opacity:0;
  }    
  55%{
      opacity:1;
  }
  95%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}


.contact {
  margin-top:10%;
  background-color: #40464d;
  padding: 40px;
  height: 80vh;
}

.contact h2 {
  font-size: 2em;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  padding-bottom:40px;
  color: #fff;
  text-align: center;
}
.contact-wrap {
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  display:flex;
  justify-content: center;
  height: 100%;
}
.form-wrap form{
  height: 80%;
}

.contact-element, .contact-btn, .contact-text{
  width: 80%;
  margin-bottom: 5%;
  font-family: 'Merriweather', serif;
  font-size: 1.2em;
  cursor: pointer;
  
  
}

.contact-element{
  height: 10%;
}

.contact-text {
  height: 30%;
}
.contact-btn {
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: bold;
  background-color:  #a67c52;
  color: white;
  border: 2px solid white;
  transition:all .3s;
}

.contact button:hover {
  color: #000;
  background-color: #fff;
}
.contact-details{
  flex-basis:50%;
}

.contact-details .social {
  padding: 20px 0;
  color: #fff;
  }

.contact-details .social a {
  text-decoration: none;
  color:#fff;
  line-height: 4em;
  padding-left: 20px;
  font-size: 1.2em;
}
.contact-details .fas{
  font-size:1.5em;  
}

.end{
  
  background-color:rgb(170, 219, 221);
  text-align: center;
  font-family: 'Merriweather', serif;;
  font-size: 1.3em;
  line-height: 10vh;
  height: 10vh;
}
@media screen and (max-width:1200px){
  .logo-pic{
    height: 60vh;
  }
  .about{
    height: 25vh;
  }
  .baner-item{
    height: 40vh;
  }
  .contact{
    
    height: 35vh;
  }
}
@media screen and (max-width:1200px) and (orientation:landscape){
  .about{
    height: 30vw;
  }
  .baner-item{
    height: 60vw;
  }
  .contact{
    height: 45vw;
  }
}

@media screen and (max-width:992px){
  .menu{
    left:-35%;
    width:35%;
    top: 10%;
    height:50vh;
    transition:left .5s ease-in-out;
  }
  .menu-list{
    margin-top: 40%;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 8% 5%;
  }
  .menu-list li:nth-child(2){
    flex-grow: 0;
    }
    .menu-list>li{
      font-size:1.5em;
    }
    
    .hamburger, .close{
      left:10%;
      top:10%;
      font-size:3em;
      color:#000;
}
    .hamburger{
      display:block;  
    }
    .menu:hover>.hamburger{
      display:none;
    }
    .menu:hover>.close{
      z-index:99;
      display:block;
    
    }
    .menu:hover{
      left:0;
    }
    
      .logo-pic{
        margin-top: 0;
        height: 70vh;
      }
      .logo{
        left:50%;
        top:50%;
        transform:translate(-50%,-50%);
        background-size: contain;
      }
      .about{
        height: 35vh;
      }
      .project .text h3{
        line-height: 1.5em;
      }
      .project .text p{
        line-height: 1.2 em;
        font-size: 1em;
      }
      .baner-item{
        margin-top: 15%;
        height: 60vh;
      }
      .contact{
      
        height: 40vh;
      }
      .contact-element, .contact-btn, .contact-text{
        font-size: 1em;
      }
    
}
@media screen and (max-width:992px) and (orientation:landscape){
  .menu{
    height: 50vw;
    width: 30%;
    left:-30%;
  }
  .logo-pic{
    height: 50vw;
  }
  .about{
    height: 45vw;
  }
  .order-now{
    margin-top: 2%;
  }
  .baner-item{
    margin-top: 15%;
    height: 60vw;
  }
  .contact{
    margin-top: 15%;
    height: 50vw;
  }
  .end{
    height: 10vw;
    line-height: 10vw;
  }
}
@media screen and (max-width:767px) {
  .menu{
    height: 60vh;
    width: 50%;
    left:-50%;
  }
  .menu-list>i{
    font-size: 1em;
  }
  .about{
    height: 85vh;
    margin-top: 20%;  
  }
  .about h1{
    font-size:1.5em;
  }
  .projects-container h2{
    font-size:1.5em;
  }
  
  .project{
    flex-direction: column;
    padding:30px;
  }
  .project .text{
    align-self: center;
    flex-basis: 50%;
    padding-top:20px;
    padding-left:0px;
    flex-grow: 0;
  }
  .project .text h3{
    text-align: center;
  }
  
  .project .details{
    padding-top: 10px;
    flex-grow: 1;
    flex-direction:column;
  
  }
  .project .details ul{
    list-style: none;
  }
  
  .order-now {
    min-height: 50%;
    padding:20px 25px;
    width: 40%;
    margin:5% auto 0;
    
    
  }
  .baner-item{
    margin-top: 20% ;
    height: 40vh;
  }
  .baner-item img{
    width:85%;
  }
  
  .contact {
    height: 70vh;
  }
  
  .contact h2 {
    font-size: 1.5em;
    padding-bottom:30px;
    
  }
  .contact-wrap {
    flex-direction: column;
  }
  .form-wrap{
    flex-basis: 60%;
  }
  .form-wrap form{
    height: 100%;
  }
  
  .contact-element{
    height: 15%;
  }
  .contact-text {
    height: 30%;
  }
  .contact-details{
    flex-basis:30%;
    margin-bottom: 10%;
  }
  
  .contact-details .social {
    padding: 0;
    }
  
  .contact-details .fas{
    font-size:1.2em;  
  }
  .end{
    font-size:1.2em;
  }   
  }  
  @media screen and (max-width:767px) and (orientation:landscape){
    .menu{
      height: 50vw;
      width: 35%;
      left:-35%;
    }
    .about{
      margin-top: 10%;
      height: 60vw;
    }
    .projects-box{
      margin-top: 3%;
    }
    .order-now{
      width: 25%;
      padding-bottom: 30px;
    }
    
    .baner-item{
      margin-top: 10%;
      height: 65vw;
    }
    
    .contact{
      height: 85vw;
    }
    .contact-details{
      margin-top:5%;
    
    }
    
    .end{
      height: 10vw;
      line-height: 10vw;
    }

  }  
  @media screen and (max-width:360px){
    .menu{
      width: 55%;
      left:-55%;
    }
    .about{
      height: 100vh;
    }
    
    .order-now{
      width: 50%;
      height: 40%;
      padding:10px;
    }
    .baner-item{
      height: 45vh;
    }
    .contact{
      height: 70vh;
    }
}